*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
.home{
    position: relative;
    height: 100vh;
    background-image: url(/public/image/header-bg.jpg);
    background-size: cover;
}
.img-header{
    width: 1536px;
    height: 500px;
    filter: grayscale(0.4);
}
.nav-flex{
    width:  1536px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 240px;
}
.list-nav>a{
    color: #fff;
    text-decoration: none;
    margin-right: 35px;
    font-family: Open;
}
.diplay-home{
    margin-top: 310px;
    margin-left: 45px;
}
.text-img{
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 130px;
    font-weight: 700;
    color: #fff;
}
.text2-img{
    margin-left: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#logo{
    font-family: 'Great Vibes';
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}
.font-home{
    text-align: center;
    width: 100px;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}
#font-s{
    font-family: 'Great Vibes';
    font-size: 35px;
    font-weight: 700;
    color: #fff;
}
.sticky {
    padding: 25px;
    padding-right: 300px;
    background-color: rgb(240, 237, 234);
    width: 1536px;
    padding-left: 350px;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
}
.sticky a{
    color: black;
}
.sticky #logo{
    color: black;
}
.container{
    height: 100vh;
}
.font-Vibes{
    padding-top: 150px;
    font-family: 'Great Vibes';
    color: black;
    font-size: 50px;
    text-align: center;
}
.font-Sans{
    padding-top: 20px;
    font-family: 'Open Sans';
    color: black;
    font-size: 20px;
    text-align: center;
}
.intro-flex{
    padding-top: 80px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.photo-intro{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.intro{
    text-align: center;
    width: 380px;
}
.font-Sans1{
    padding: 20px;
    padding-top: 20px;
    padding-right: 10px;
    font-family: 'Open Sans';
    color: black;
    font-size: 25px;
    text-align: end;
}
.font-Sans2{
    padding: 20px;
    padding-top: 20px;
    padding-left: 25px;
    font-family: 'Open Sans';
    color: black;
    font-size: 25px;
    text-align: start;
}
.coeur{
    padding-top: 60px;
    font-size: 20px;
    color: rgba(184, 37, 69, 0.753);
}
.fa-heart:before{
    color: rgba(184, 37, 69, 0.753);
}
.fa-arrow-up:before{
    color: #f2f2f2;
}

#myBtn{
    padding-bottom: 8px;
    font-size: 15px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.753);
    background: rgba(184, 37, 69, 0.753);
    box-shadow: 0 0 10xp rgba(184, 37, 69, 0.753);
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
#myBtn:active{
    background: rgba(184, 37, 69, 0.753);
}
.event{
    position: relative;
    height: 100vh;
    width: 1536px;
    background-image: url(/public/image/gallery-3.jpg);
    background-size: cover;
    background-position-y: center;
    object-fit: cover;
}
.font-event{
    padding-top: 190px;
    text-align: center;
    font-family: 'Great Vibes';
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.font-event1{
    text-align: center;
    font-family: 'Great Vibes';
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.font-event2{
    padding-top: 5px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}
.font-event3{
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}
.event-days{
    padding-top: 150px
}

.count{
    padding-top: 45px;
    color: #f2f2f2;
    font-family: 'Great Vibes';
    text-align: center;
    font-size: 52px;
    margin-top: 0px;
}
.count1{
    color: #f2f2f2;
    font-family: 'Amatic SC';
    text-align: center;
    font-size: 19px;
    margin-top: 0px;
}
.font-event4{
    padding-top: 200px;
    font-family: 'Great Vibes';
    font-size: 35px;
    font-weight: 300;
    color: #fff;
}
.days-content{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.event-acc{
    height: 100vh;
}
.accordion {
    background-color: #eee;
    color: rgb(131, 130, 130);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: 0.1px solid rgb(131, 130, 130);
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
.gray{
    padding-top: 20px;
    color: #a19e9e;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
}
.black{
    padding-top: 5px;
    text-align: center;
    font-family: 'Great Vibes';
    font-size: 35px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.text{
    width: 450px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 13px;
    margin-left: 550px;
    margin-bottom: 35px;
}
.rose-text{
    padding: 10px;
    text-align: start;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    color: rgba(184, 37, 69, 0.753);
}
.flex-img-acc{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center; 
}
.img-gallary-acc{
    border-radius: 4%;
    width: 350px;
    height: 350px;
    object-fit: cover;
}
.acc{
    width: 450px;
}
.acc-text{
    width: 450px;
    font-family: 'Open Sans';
    font-size: 13px;
    padding: 7px;
}
.panel-text{
    padding-top: 10px;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
}
.panel-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.fa-solid{
    padding-top: 10px;
    color: #a19e9e;
}
.story{
    background-color: rgb(236, 234, 234);
    height: 130vh;
}
.story1 ,.story2 ,.story3{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
}
.felx-story{
    margin-top: 90px;
}
.story1{
    margin-right: 390px;
}
.story2{
    margin-left: 530px;
}
.story3{
    margin-right: 390px;
}
.img-story{
    margin-top: 55px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    object-fit: cover;
}
.box{
    height: 200px;
    padding: 50px;
    width: 380px;
    border: #a19e9e 1px solid;
    background-color: #f2f2f2;
    position: relative;
    max-width: 45%;
    padding: 5px 10px;
    margin: 1em 2em;
    border-radius: 5px;
    float: right;
    clear: both;
}
.box::before{
    content: " ";
    position:absolute;
    margin-top:-6px;
    margin-left:-5px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 15px solid #f2f2f2;
    transform:rotate(+90deg);
    bottom: 85px;
    right: -1em;
}
.box1{
    height: 200px;
    padding: 50px;
    width: 380px;
    border: #a19e9e 1px solid;
    background-color: #f2f2f2;
    position: relative;
    max-width: 45%;
    padding: 5px 10px;
    margin: 1em 2em;
    border-radius: 5px;
    float: right;
    clear: both;
}
.box1::before{
    content: " ";
    position:absolute;
    margin-top:-6px;
    margin-right:-5px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 15px solid #f2f2f2;
    transform:rotate(-90deg);
    bottom: 85px;
    left: -1em;
}
.story-title{
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    text-align: end;
}
.story-title2{
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 600;
    text-align: start;
}
.story-date{
    color: #a19e9e;
    padding: 5px;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300;
    text-align: end;
}
.story-date2{
    color: #a19e9e;
    padding: 10px;
    padding-top: 0;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300;
    text-align: start;
}
.story-text{
    color: #636262;
    padding: 10px;
    padding-top: 15px;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300;
    text-align: start;
}
.story-text2{
    color: #636262;
    padding: 10px;
    padding-top: 15px;
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: 300;
    text-align: end;
}
.read-more{
    color: #323131;
    padding: 10px;
    padding-top: 15px;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
    text-align: end;
}
.read-more2{
    color: #323131;
    padding: 10px;
    padding-top: 15px;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
    text-align: start;
}
.gallery{
    height: 110vh;
}
.box1-content{
    
    
    height: 280px;
    justify-content: center;
}

#content{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.img-box{
    filter: grayscale(1);
    object-fit: cover;
    width: 350px;
    height: 250px;
}
.img-box{
    cursor: zoom-in;
}

.img-gallry{
    width: 280px;
    height: 246px;
    opacity: 0.7;
    border-radius: 10%;
}

#myImg {

    border-radius: 5px;
    
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  
  #myImg2 {
  
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg2:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

#allimg{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
   margin-bottom: 40px;
}
#allimg a{
    border-bottom: #404040 dashed 1px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Open Sans';
    color: #404040;
}
#allimg a:hover{
    color:rgba(184, 37, 69, 0.753);
}
.text1{
    width: 450px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 13px;
    margin-left: 550px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 700px;
    margin-left: 380px;
  }
.CountUp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    margin-left: 370px;
}
.background{
    margin-top: 60px;
    width: 1536px;
    background-image: url(/public/image/counter-bg.jpg);
    background-size: cover;
    background-position-y: center;
    object-fit: cover;
    height: 50vh;
}
.value {
    margin-top: 150px;
    font-size: 39px;
    font-weight: 100;
    display: block;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
.raison{
    margin-left: 40px;
    font-size: 27px;
    display: block;
    font-weight: 300;
    color: #fff;
    font-family: 'Great Vibes';
}
.raison1{
    margin-left: 90px;
    font-size: 27px;
    display: block;
    font-weight: 300;
    color: #fff;
    font-family: 'Great Vibes';
}
.raison2{
    margin-left: 60px;
    font-size: 27px;
    display: block;
    font-weight: 300;
    color: #fff;
    font-family: 'Great Vibes';
}
.raison3{
    margin-left: 35px;
    font-size: 27px;
    display: block;
    font-weight: 300;
    color: #fff;
    font-family: 'Great Vibes';
}
.best-wishes{
    margin-top: 50px;
    width: 1536px;
    height: 90vh;
    position: relative;
}
.swiper {
    width: 100%;
    height: 50%;
    width: 700px;
}
.swiper-slide {
text-align: center;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
}
.img-slide{
    margin-left: 300px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    align-self: center;
}
.img-slide1{
    margin-left: 275px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    align-self: center;
}
.nom{
    color: #696969;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text-slide{
    font-size: 14px;
    color: #aeaeae;
    font-family: 'Open Sans';
    font-weight: 300;
}
.contact{
    height: 90vh;
    background-color: rgb(236, 234, 234);
}
.contact-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 30px;
    width: 1536px;
}
.form{
    border-radius: 5px;
    width: 580px;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
}
.form-content{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.yes , .no {
    border: dashed rgb(175, 175, 175) 3px;
    color: rgb(3, 3, 3);
    padding: 15px 100px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
  }
  .email , .name{
    border: solid 2px rgb(175, 175, 175) ;
    color: rgb(3, 3, 3);
    padding: 5px 32px;

}
.video-window{
    border-radius: 5px;
    width: 580px;
}
.Guest-name{
    border: solid 2px rgb(175, 175, 175) ;
    color: rgb(3, 3, 3);
    padding: 5px 32px;
}
.guest{
    border: solid rgb(255, 255, 255) 3px;
    color: rgb(3, 3, 3);
    padding: 4px 76px;
    padding-bottom: 8px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Open Sans';
}
.h2-invitation{
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans';
    color: #323131;
}
.h2-invitation1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans';
    color: #323131;
}
.submit{
    border: solid rgb(0, 0, 0) 3px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: #f2f2f2;
    cursor: pointer;
    font-family: 'Open Sans';
    padding: 4px 50px;
    margin-top: 30px;
    margin-left: 150px;
}
footer{
    width: 1536px;
    background-image: url(/public/image/gallery-5.jpg);
    background-size: cover;
    background-position-y: center;
    object-fit: cover;
    height: 50vh;
}
.footer-text{
    padding-top: 120px;
    color: #f2f2f2;
    font-family: 'Great Vibes';
    text-align: center;
    font-size: 42px;
    font-weight: 400;
}
.footer-text2{
    padding-top: 5px;
    color: #f2f2f2;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 14px;
    font-weight: 100;
}
.copy-right{
    padding-top: 40px;
    color: #f2f2f2;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 12px;
    font-weight: 100;
}
.socail-media{
    padding-top: 10px;
    color: #f2f2f2;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 20px;
    font-weight: 100;
}
/*
font-family: 'Amatic SC';
font-family: 'Great Vibes';
font-family: 'Open Sans';
*/
.fa-face-kiss-wink-heart:before{
    color: rgba(184, 37, 69, 0.753);
    font-size: 35px;
    position: absolute;
    top: 10;
    left: 10;
    display: none;
}
#myLinks{
    display: block;
}
.heart_nav{
   margin-top: -15px;
}
.sticky-mobile{
    padding: 25px;
    width: 750px;
    position: fixed;
    top: 20;
    left: 0;
    width: 100%;
    opacity: 0.9;
}
/* pour les ecran jusqua une largeur de 800px */
@media screen and (max-width:800px){
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      /*
      .topnav #myLinks {
        display: none;
      }
    */
      .topnav a {
       
        background-color:rgba(213, 0, 131, 0.5);
        color: #050505;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: rgba(184, 37, 69, 0.753);
        color: black;
      }
    .heart_nav{
        position: relative;
        width: 368px;
    }
    .nav-flex{
        padding: 20px;
        padding-top: 60px;
        justify-content: left;
        width: 368px;
    }
    ul.list-nav{
        top: 50;
        left: 10;
        display: flex;
        flex-direction: column;
    }
    #logo{
        display: none;
    }
    .fa-face-kiss-wink-heart:before{
        display: block;
        position: fixed;
        position: -webkit-sticky;
        /* in front of all other elements */
        z-index: 99;
    }
    .home{
        background-position-x:center ;
    }
    .text-img{
        margin: 0;
        position: absolute;
        top: 270;
        left: 40;
        font-size: 80px;
    }
    .text2-img{
        margin: 0;
        position: absolute;
        top: 390;
        left: 90;
        font-size: 40px;
        flex-direction: column;
        text-align: center;
    }
    .diplay-home{
        margin: 0;
    }
    .font-Vibes{
        padding-top: 60px;
    }
    .intro-flex{
        flex-direction: column;
    }
    .photo-intro {
        margin-left: 150px;
    }
    .coeur{
        padding-top: 0;
        margin-left: 210px;
    }
    .container{
        height: fit-content;
    }
    .event{
        margin-top: 30px;
        width: 368px;
        background-position-x:right ;
        height: fit-content;
    }
    .text{
        margin-left: 0;
        width: auto;
    }
    .font-event {
        padding-top: 20;
        text-align: start;
    }
    .font-event1{
        text-align: start;
    }
    .font-event2 ,.font-event3{
        text-align: start;
        width: 375px;
    }
    .font-event4{
        padding-top: 15px;
    }
    .count{
        padding-top: 15px;
    }
    .event-days{
        padding-top: 0px;
    }
    .days-content{
        text-align: center;
        padding-top: 45px;
        flex-direction: column;
    }
    .acc{
        width: 280px;
    }
    .accordion ,.active, .accordion:hover {
        width: 280px;
    }
    .panel-text{
        font-size: 10px;
        width: 280px;
    }
    .acc-text{
        font-size: 10px;
        width: 280px;
        padding: 2px;
    }
    .text1{
        margin-left: 40px;
        width: 280px;
    }
    .event-acc {
        height: 117vh;
    }
    .story{
       height: auto;
        margin-top: 150px;
    }
    .story1, .story2, .story3{
        flex-direction: column;
    }
    .story1{
        margin-right: 0;
    }
    .story2 {
        margin-left: 0;
    }
    .story3{
        margin-right: 0;
    }
    .box ,.box1{
        max-width: 300px;
        height: auto;
        padding: 5px;
        margin: 10px;
    }
    .img-story{
        display: none;
    }
    .box::before ,.box1::before{
        display: none;
    }
    .mobile-txt{
        margin-bottom: 0;
    }
    .box1-content{
        height: fit-content;
    }
    .gallery{
        
        height: fit-content;
    }
    .background{
        background-position-x:center ;
        width: auto;
        height: 80vh;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .content{
        align-self: flex-start;
        justify-content: start;
        gap: 10px;
        margin: 0;
        align-items: start;
        padding-top: 250px;
        padding-left: 10px;
    }
    .value ,.raison,.raison1,.raison2,.raison3{
        margin: 0;
        margin-right: 10px;
    }
    .raison,.raison1,.raison2,.raison3{
        margin: 0;
        margin-right: 10px;
        font-size: 25px;
    }
    .CountUp{
        align-self: flex-start;
        justify-content: start;
        gap: 14px;
        margin: 0;
        align-items: start;
        padding-left: 10px;
    }
    .gray{
        margin-left: 150px;
        text-align: start;
    }
    .black{
        margin-left: 100px;
        text-align: start;
    }
    .mobile-margin{
        margin-left: 100px;
    }
    .mobile-none{
        display: none;
    }
    .mobile-marginStory{
        margin-left: 140px;
    }
    .mobile-marginStory1{
        margin-left: 130px;
    }
    .mobile-marginEvent{
        margin-left: 110px;
    }
    .swiper {
        margin-left: 0;
        width: 350px;
    }
    .best-wishes{
        width: 350px;
    }
    .img-slide, .img-slide1{
        margin-left: 120px;
    }
    .contact-flex{
        display: block;
    }
    .form{
        width: 350px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    .submit{
        margin-top: 10px;
        margin-left: 45px;
    }
    .video-window{
        display: none;
    }
    .contact{
        padding-bottom: 30px;
        
        height: auto;
    }
    footer{
        width: 375px;
        background-position-x:right ;
        height: fit-content;
    }
    .copy-right{
        padding-top: 10px;
    }
    /*
    mobile-none*/
}